<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "resources.mybatis.BookMapper">
	<resultMap id="bookResult" type="book">
		<id property = "isbn" column="isbn"/>
		<result property = "title" column = "title" />
		<result property = "price" column = "price" />
	</resultMap>
	
	<select id = "findAllBooks" resultType = "book" resultMap = "bookResult">
		SELECT isbn, title, price from Books
	</select>
	
	<insert id="insertBook" parameterType = "book" keyProperty="isbn">
		INSERT into Books VALUES(#{isbn},#{title},#{price})
	</insert>
	
	<update id="updateBook" parameterType="book">
		UPDATE Books SET price = #{price} WHERE isbn = #{isbn}
	</update>
	
	<delete id="deleteBook" parameterType="string">
		DELETE FROM Books WHERE isbn = #{isbn}
	</delete>
	
	<select id="selectBook" resultType="book" resultMap="bookResult">
		SELECT isbn, title, price FROM Books WHERE price > 5000
	</select>
</mapper>